#nghia
	background #6266d7
	height 550px
	#n1 
		background none
		height 80px
		.fas 
			width 50%
			display block
			text-align center
			span 
				 color white
				 font-size 25px
		
					
			
			
			
				
			
			
	#n2 
		background none
		height 470px
		.image00
			position absolute
			    width 800px
			    height 800px
			    top -10%
			    left 50%
			    margin-left 15px
			    z-index 5
			    will-change transform
			 	
	#n4
		padding: 100px;
		
		 
		h1 
			color white			
		p 
			color white		
		
		.btn 
		margin:0px auto
		background white 
		color blue
		padding-left 10px
		.btn:hover
			background blue
			color white
		
	#n5	
		height 140px
		content ''
		display block
		position absolute
		bottom 0
		left 0
		right 0
		background url(http://lightbridge.io/_/css/../img/wave.png) no-repeat center bottom
		background-size auto 180px
		